body {
    margin: 0px;
    width: 100vw;
    max-height: 100vh;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;

    #screen {
        margin: auto;
        margin-bottom: 1em;
        border: 1px solid green;
    }
    #log {
        flex-grow: 1;
        border: 1px solid black;
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        margin: 0;

        .info {
            color: #000000;
        }
        .good {
            color: #4CAF50;
        }
        .warn {
            color: #FF9800;
        }
        .error {
            color: #F44336;
        }
    }
}
