body {
    margin: 0px;
    width: 100vw;
    max-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    #screen {
        margin: auto;
        margin-bottom: 1em;
        border: 1px solid green;
    }
    > div {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        
        #log {
            border: 1px solid black;
            display: flex;
            flex-direction: column;
            overflow-y: scroll;
            margin: 0;
            max-height: 100%;
    
            .info  { color: #000000; }
            .good  { color: #4CAF50; }
            .warn  { color: #FF9800; }
            .error { color: #F44336; }
        }
    }
}
